

<footer class="bg-dark  d-flex justify-content-around align-items-center text-center py-5 mt-5 ">
    <div class="text-center">
      <img src="../assets/icon/facebook.png" class="ms-3" width="30px" alt="">
      <img src="../assets/icon/youtube.png" class="ms-3" width="30px" alt="">
      <img src="../assets/icon/instagram.png" class="ms-3" width="30px" alt="">
    </div>
    <div class="text-center">
      <h3>PAGE IN PLATFORM</h3>
      <ul>
        <li>HOME</li>
        <li>BLOGS</li>
       
      </ul>
    </div>
    <div class="">
      <img src="../assets/icon/logoo.png" width="200px" alt="">
  
    </div>
  
  </footer>