<div class="container">
  <h1 class="text-center text-lg text-warning" style="text-decoration: underline;">- BLOGS -</h1>
  <div class="row text-center my-5">
    <div class="col-4 my-5 bg-dark" *ngFor="let blog of blogs">

      <img src={{blog.imageUrl}} width="80px" alt="" class="image">

      <h3 class="text mt-3"> {{blog.title}} </h3>
      <!-- <p class="text"> {{blog.content}} </p> -->

      <div class="mt-3 d-flex justify-content-around">
        <span> <img src="../assets/icon/user.png" width="30px"> : 0 </span>
        <span> <img src="../assets/icon/coeur.png" width="30px"> : 0 </span>
      </div>
      <a class="btn btn-outline-primary w-100 mt-5" (click)="showdetails(blog.id)"> VIEW MORE</a>



    </div>
  </div>
  <div>
  </div>